<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="HTTPS_Listener_Config_Private" doc:name="HTTP Listener config"
		doc:id="bc494614-2f93-4c8e-b76d-92804931f50c" basePath="${api.basepath}"
		doc:description="HTTPS Listener Config for PRIVATE (Internal) facing API Endpoints">
		<http:listener-connection host="${https.host}" port="${https.private.port}" protocol="HTTPS"
			tlsContext="TLS_Context" />
	</http:listener-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="d90d1f74-e36b-4ac2-8093-517574fe6a45"
		doc:description="TLS Context">
		<tls:key-store type="jks" path="keystores/keystore.jks" keyPassword="${secure::keystore.keypassword}"
			password="${secure::keystore.password}" alias="selfsigned" />
	</tls:context>
	<configuration-properties doc:name="Configuration properties" doc:id="2156951d-b336-40b8-9f9b-ce017f893efb"
		file="config/ft-ent-app-api-common-config.yaml" doc:description="Properties Common to ALL Environments" />
	<configuration-properties doc:name="Configuration properties" doc:id="05108146-baf7-4ced-9ee8-73ee337de45b"
		file="config/ft-ent-app-api-config-${mule.env}.yaml" doc:description="Environment Specific Unsecured Properties" />
	<secure-properties:config name="Secure_Configuration_Properties" doc:name="Secure Properties Config"
		doc:id="5ee01875-11ac-446d-9a61-2c18067b1dd4" key="${mule.key}" file="config/secure/ft-ent-app-api-config-secured-${mule.env}.yaml"
		doc:description="Environment Specific Secured Properties" />
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config"
		doc:id="957f54e7-a019-4f0d-a878-e0459ea2a41c" disabledFields="${json.logger.application.disabledFields}"
		doc:description="JSON Logger Configuration" environment="${mule.env}" contentFieldsDataMasking="${json.logger.application.contentFieldsDataMasking}"/>
	<global-property doc:name="Global Property" doc:id="c58439c6-2c70-4b5a-9874-c00489a8151a" name="mule.env" value="local"
		doc:description="mule env for config/property file lookup" />
	<global-property doc:name="Global Property" doc:id="6b46fa7d-c16f-42fa-ad95-f352576aef3d" name="mule.key"
		value="12345678901234567890123456789012" doc:description="mule key for decryting the secure properties" />
	<api-gateway:autodiscovery apiId="${api.id}" doc:name="API Autodiscovery"
		doc:id="06868852-ecfe-413d-88fb-bae4047ada77" flowRef="ft-ent-app-api-main:privateFlow"
		doc:description="API Autodiscovery for mapping the mule application with the API Instance on the API Manager" ignoreBasePath="true"/>
</mule>
